# Diretórios de build
/build/
**/build/

# Arquivos do Android Studio
.idea/
*.iml
.gradle/
local.properties
.cxx/

# Cache
*.log
*.tmp

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de assinatura
*.jks
*.keystore

# Arquivos temporários
*.swp
*.swo

# Dispositivos virtuais
*.avd
*.ini

# NDK e compilação nativa
.externalNativeBuild/

# Jetpack Compose preview cache
.idea/assetWizardSettings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/gradle.xml

# Arquivos Kotlin
*.kotlin_module
